<a href="https://colab.research.google.com/github/nikhilbadveli6/CE880/blob/main/Week2/Exercise_2_2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CE880: An Approachable Introduction to Data Science
### Prepared by: Haider Raza (h.raza@essex.ac.uk)
### Approximate time: 120 minutes

***

# Pandas DataFrame UltraQuick Tutorial

This Colab introduces [**DataFrames**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html), which are the central data structure in the pandas API. This Colab is not a comprehensive DataFrames tutorial.  Rather, this Colab provides a very quick introduction to the parts of DataFrames required to do the other Colab exercises in Machine Learning Crash Course.

A DataFrame is similar to an in-memory spreadsheet. Like a spreadsheet:

  * A DataFrame stores data in cells. 
  * A DataFrame has named columns (usually) and numbered rows.

## Import NumPy and pandas modules

Run the following code cell to import the NumPy and pandas modules.

In [1]:
import numpy as np
import pandas as pd

### Object creation
See the Data Structure Intro section.

Creating a Series by passing a list of values, letting pandas create a default integer index:

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:

In [3]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.862544  1.040181 -0.374404  1.977048
2013-01-02  0.933772  1.172091 -1.006636 -0.056398
2013-01-03 -0.341349  1.573617  1.727868 -0.626434
2013-01-04 -1.094529 -1.003082  0.351051 -0.811598
2013-01-05 -1.193018  0.810188 -0.115600 -1.291236
2013-01-06 -1.494643 -0.215401 -1.269508  0.129894

Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [5]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

The columns of the resulting DataFrame have different dtypes.

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

If you’re using IPython, tab completion for column names (as well as public attributes) is automatically enabled. Here’s a subset of the attributes that will be completed:

### Viewing data
See the Basics section.

Here is how to view the top and bottom rows of the frame:

In [7]:
df.head() # View top 5 rows

                   A         B         C         D
2013-01-01 -0.862544  1.040181 -0.374404  1.977048
2013-01-02  0.933772  1.172091 -1.006636 -0.056398
2013-01-03 -0.341349  1.573617  1.727868 -0.626434
2013-01-04 -1.094529 -1.003082  0.351051 -0.811598
2013-01-05 -1.193018  0.810188 -0.115600 -1.291236

In [8]:
df.tail(3) ## View last three rows

                   A         B         C         D
2013-01-04 -1.094529 -1.003082  0.351051 -0.811598
2013-01-05 -1.193018  0.810188 -0.115600 -1.291236
2013-01-06 -1.494643 -0.215401 -1.269508  0.129894

Display the index, columns:

In [9]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

`DataFrame.to_numpy()` gives a NumPy representation of the underlying data. Note that this can be an expensive operation when your `DataFrame` has columns with different data types, which comes down to a fundamental difference between `pandas` and `NumPy`: NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column. When you call `DataFrame.to_numpy()`, pandas will find the NumPy dtype that can hold all of the dtypes in the DataFrame. This may end up being object, which requires casting every value to a Python object.

For df, our DataFrame of all floating-point values, `DataFrame.to_numpy()` is fast and doesn’t require copying data.

In [11]:
df.to_numpy()

array([[-0.86254363,  1.04018065, -0.37440399,  1.97704773],
       [ 0.93377212,  1.17209085, -1.006636  , -0.05639839],
       [-0.341349  ,  1.57361662,  1.72786842, -0.62643411],
       [-1.09452949, -1.0030824 ,  0.35105072, -0.81159782],
       [-1.19301792,  0.8101878 , -0.11559977, -1.2912362 ],
       [-1.49464252, -0.21540074, -1.26950795,  0.12989374]])

For df2, the DataFrame with multiple dtypes, DataFrame.to_numpy() is relatively expensive.

In [12]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

`describe()` shows a quick statistic summary of your data:

In [13]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.675385  0.562932 -0.114538 -0.113121
std    0.877588  0.973618  1.077827  1.146333
min   -1.494643 -1.003082 -1.269508 -1.291236
25%   -1.168396  0.040996 -0.848578 -0.765307
50%   -0.978537  0.925184 -0.245002 -0.341416
75%   -0.471648  1.139113  0.234388  0.083321
max    0.933772  1.573617  1.727868  1.977048

Transposing your data:

In [14]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.862544    0.933772   -0.341349   -1.094529   -1.193018   -1.494643
B    1.040181    1.172091    1.573617   -1.003082    0.810188   -0.215401
C   -0.374404   -1.006636    1.727868    0.351051   -0.115600   -1.269508
D    1.977048   -0.056398   -0.626434   -0.811598   -1.291236    0.129894

Sorting by an axis:

In [17]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06 -1.494643 -0.215401 -1.269508  0.129894
2013-01-05 -1.193018  0.810188 -0.115600 -1.291236
2013-01-04 -1.094529 -1.003082  0.351051 -0.811598
2013-01-03 -0.341349  1.573617  1.727868 -0.626434
2013-01-02  0.933772  1.172091 -1.006636 -0.056398
2013-01-01 -0.862544  1.040181 -0.374404  1.977048

Sorting by values:

In [18]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-04 -1.094529 -1.003082  0.351051 -0.811598
2013-01-06 -1.494643 -0.215401 -1.269508  0.129894
2013-01-05 -1.193018  0.810188 -0.115600 -1.291236
2013-01-01 -0.862544  1.040181 -0.374404  1.977048
2013-01-02  0.933772  1.172091 -1.006636 -0.056398
2013-01-03 -0.341349  1.573617  1.727868 -0.626434

### Data Selection

While standard Python / NumPy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, `.at`, `.iat`, `.loc` and `.iloc`.

#### Getting
Selecting a single column, which yields a Series, equivalent to `df.A`:

In [19]:
df["A"]

2013-01-01   -0.862544
2013-01-02    0.933772
2013-01-03   -0.341349
2013-01-04   -1.094529
2013-01-05   -1.193018
2013-01-06   -1.494643
Freq: D, Name: A, dtype: float64

Selecting via `[]`, which slices the rows.

In [20]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.862544  1.040181 -0.374404  1.977048
2013-01-02  0.933772  1.172091 -1.006636 -0.056398
2013-01-03 -0.341349  1.573617  1.727868 -0.626434

In [21]:
df["20130102":"20130104"]

                   A         B         C         D
2013-01-02  0.933772  1.172091 -1.006636 -0.056398
2013-01-03 -0.341349  1.573617  1.727868 -0.626434
2013-01-04 -1.094529 -1.003082  0.351051 -0.811598

###Selection by label

See more in Selection by Label.
For getting a cross section using a label:

In [22]:
df.loc[dates[0]]

A   -0.862544
B    1.040181
C   -0.374404
D    1.977048
Name: 2013-01-01 00:00:00, dtype: float64

Selecting on a multi-axis by label:

In [23]:
df.loc[:, ["A", "B"]]

                   A         B
2013-01-01 -0.862544  1.040181
2013-01-02  0.933772  1.172091
2013-01-03 -0.341349  1.573617
2013-01-04 -1.094529 -1.003082
2013-01-05 -1.193018  0.810188
2013-01-06 -1.494643 -0.215401

Showing label slicing, both endpoints are included:

In [24]:
df.loc["20130102":"20130104", ["A", "B"]]

                   A         B
2013-01-02  0.933772  1.172091
2013-01-03 -0.341349  1.573617
2013-01-04 -1.094529 -1.003082

Reduction in the dimensions of the returned object:

In [25]:
df.loc["20130102", ["A", "B"]]

A    0.933772
B    1.172091
Name: 2013-01-02 00:00:00, dtype: float64

For getting a scalar value:

In [26]:
df.loc[dates[0], "A"]

-0.8625436281130618

For getting fast access to a scalar (equivalent to the prior method):

In [27]:
df.at[dates[0], "A"]

-0.8625436281130618

### Selection by position
See more in Selection by Position.
Select via the position of the passed integers:

In [28]:
df.iloc[3]

A   -1.094529
B   -1.003082
C    0.351051
D   -0.811598
Name: 2013-01-04 00:00:00, dtype: float64

By integer slices, acting similar to NumPy/Python:

In [29]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -1.094529 -1.003082
2013-01-05 -1.193018  0.810188

By lists of integer position locations, similar to the NumPy/Python style:

In [30]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2013-01-02  0.933772 -1.006636
2013-01-03 -0.341349  1.727868
2013-01-05 -1.193018 -0.115600

For slicing rows explicitly:

In [31]:
df.iloc[1:3, :]

                   A         B         C         D
2013-01-02  0.933772  1.172091 -1.006636 -0.056398
2013-01-03 -0.341349  1.573617  1.727868 -0.626434

For slicing columns explicitly:

In [32]:
df.iloc[:, 1:3]

                   B         C
2013-01-01  1.040181 -0.374404
2013-01-02  1.172091 -1.006636
2013-01-03  1.573617  1.727868
2013-01-04 -1.003082  0.351051
2013-01-05  0.810188 -0.115600
2013-01-06 -0.215401 -1.269508

For getting a value explicitly:

In [33]:
df.iloc[1, 1]

1.1720908521518543

For getting fast access to a scalar (equivalent to the prior method):

In [34]:
df.iat[1, 1]

1.1720908521518543

### Boolean indexing
Using a single column’s values to select data.

In [35]:
df[df["A"] > 0]

                   A         B         C         D
2013-01-02  0.933772  1.172091 -1.006636 -0.056398

Selecting values from a DataFrame where a boolean condition is met.

In [36]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN  1.040181       NaN  1.977048
2013-01-02  0.933772  1.172091       NaN       NaN
2013-01-03       NaN  1.573617  1.727868       NaN
2013-01-04       NaN       NaN  0.351051       NaN
2013-01-05       NaN  0.810188       NaN       NaN
2013-01-06       NaN       NaN       NaN  0.129894

Using the `isin()` method for filtering:

In [37]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"]
df2

                   A         B         C         D      E
2013-01-01 -0.862544  1.040181 -0.374404  1.977048    one
2013-01-02  0.933772  1.172091 -1.006636 -0.056398    one
2013-01-03 -0.341349  1.573617  1.727868 -0.626434    two
2013-01-04 -1.094529 -1.003082  0.351051 -0.811598  three
2013-01-05 -1.193018  0.810188 -0.115600 -1.291236   four
2013-01-06 -1.494643 -0.215401 -1.269508  0.129894  three

In [38]:
df2[df2["E"].isin(["two", "four"])]

                   A         B         C         D     E
2013-01-03 -0.341349  1.573617  1.727868 -0.626434   two
2013-01-05 -1.193018  0.810188 -0.115600 -1.291236  four

### Setting
Setting a new column automatically aligns the data by the indexes.

In [39]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [40]:
df["F"] = s1
df

                   A         B         C         D    F
2013-01-01 -0.862544  1.040181 -0.374404  1.977048  NaN
2013-01-02  0.933772  1.172091 -1.006636 -0.056398  1.0
2013-01-03 -0.341349  1.573617  1.727868 -0.626434  2.0
2013-01-04 -1.094529 -1.003082  0.351051 -0.811598  3.0
2013-01-05 -1.193018  0.810188 -0.115600 -1.291236  4.0
2013-01-06 -1.494643 -0.215401 -1.269508  0.129894  5.0

Setting values by label:

In [41]:
df.at[dates[0], "A"] = 0

Setting values by position:

In [42]:
df.iat[0, 1] = 0

Setting by assigning with a NumPy array:

In [43]:
df.loc[:, "D"] = np.array([5] * len(df))
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.374404  5  NaN
2013-01-02  0.933772  1.172091 -1.006636  5  1.0
2013-01-03 -0.341349  1.573617  1.727868  5  2.0
2013-01-04 -1.094529 -1.003082  0.351051  5  3.0
2013-01-05 -1.193018  0.810188 -0.115600  5  4.0
2013-01-06 -1.494643 -0.215401 -1.269508  5  5.0

### Missing data
pandas primarily uses the value `np.nan` to represent missing data. It is by default not included in computations. See the Missing Data section.

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

In [44]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "E"] = 1
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -0.374404  5  NaN  1.0
2013-01-02  0.933772  1.172091 -1.006636  5  1.0  1.0
2013-01-03 -0.341349  1.573617  1.727868  5  2.0  NaN
2013-01-04 -1.094529 -1.003082  0.351051  5  3.0  NaN

To drop any rows that have missing data.

In [45]:
df1.dropna(how="any")

                   A         B         C  D    F    E
2013-01-02  0.933772  1.172091 -1.006636  5  1.0  1.0

Filling missing data.

In [47]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000 -0.374404  5  5.0  1.0
2013-01-02  0.933772  1.172091 -1.006636  5  1.0  1.0
2013-01-03 -0.341349  1.573617  1.727868  5  2.0  5.0
2013-01-04 -1.094529 -1.003082  0.351051  5  3.0  5.0

To get the boolean mask where values are `nan`.

In [48]:
pd.isna(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

### Operations

#### Stats
Operations in general exclude missing data.
Performing a descriptive statistic:

In [49]:
df.mean()

A   -0.531628
B    0.389569
C   -0.114538
D    5.000000
F    3.000000
dtype: float64

Same operation on the other axis:

In [50]:
df.mean(1)

2013-01-01    1.156399
2013-01-02    1.419845
2013-01-03    1.992027
2013-01-04    1.250688
2013-01-05    1.700314
2013-01-06    1.404090
Freq: D, dtype: float64

Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension.

In [51]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [52]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.374404  5  NaN
2013-01-02  0.933772  1.172091 -1.006636  5  1.0
2013-01-03 -0.341349  1.573617  1.727868  5  2.0
2013-01-04 -1.094529 -1.003082  0.351051  5  3.0
2013-01-05 -1.193018  0.810188 -0.115600  5  4.0
2013-01-06 -1.494643 -0.215401 -1.269508  5  5.0

In [53]:
df.sub(s, axis="index")

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -1.341349  0.573617  0.727868  4.0  1.0
2013-01-04 -4.094529 -4.003082 -2.648949  2.0  0.0
2013-01-05 -6.193018 -4.189812 -5.115600  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

### String Methods
Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses regular expressions by default (and in some cases always uses them). See more at Vectorized String Methods.

In [54]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [55]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

###Merge
####Concat
pandas provides various facilities for easily combining together Series and DataFrame objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.
Concatenating pandas objects together with `concat()`:

In [56]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -1.506459 -1.400574  0.297312 -0.944874
1 -0.455746 -1.013488  0.819857  0.299797
2 -0.524725  1.679233  1.109537 -0.197453
3 -0.271518 -0.512968 -0.817374 -1.204156
4  0.282690 -0.281288 -1.168774  0.837629
5  1.503370  0.616142 -0.324199 -0.141437
6  0.129210 -0.318640 -0.086318  0.081264
7  0.578099  0.510620  0.456526  0.446909
8 -0.774648 -0.921734  0.472730 -1.331152
9  0.244174 -0.329289  0.975161  0.611020

In [57]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0 -1.506459 -1.400574  0.297312 -0.944874
 1 -0.455746 -1.013488  0.819857  0.299797
 2 -0.524725  1.679233  1.109537 -0.197453,
           0         1         2         3
 3 -0.271518 -0.512968 -0.817374 -1.204156
 4  0.282690 -0.281288 -1.168774  0.837629
 5  1.503370  0.616142 -0.324199 -0.141437
 6  0.129210 -0.318640 -0.086318  0.081264,
           0         1         2         3
 7  0.578099  0.510620  0.456526  0.446909
 8 -0.774648 -0.921734  0.472730 -1.331152
 9  0.244174 -0.329289  0.975161  0.611020]

In [58]:
pd.concat(pieces)

          0         1         2         3
0 -1.506459 -1.400574  0.297312 -0.944874
1 -0.455746 -1.013488  0.819857  0.299797
2 -0.524725  1.679233  1.109537 -0.197453
3 -0.271518 -0.512968 -0.817374 -1.204156
4  0.282690 -0.281288 -1.168774  0.837629
5  1.503370  0.616142 -0.324199 -0.141437
6  0.129210 -0.318640 -0.086318  0.081264
7  0.578099  0.510620  0.456526  0.446909
8 -0.774648 -0.921734  0.472730 -1.331152
9  0.244174 -0.329289  0.975161  0.611020

### Grouping

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [59]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
df

     A      B         C         D
0  foo    one  0.337902 -0.594873
1  bar    one -0.054666 -1.751518
2  foo    two  0.412848 -0.573013
3  bar  three  0.257649  0.538251
4  foo    two -0.597273  1.737213
5  bar    two  1.789844  0.902108
6  foo    one -0.115655 -0.542470
7  foo  three -0.511448 -1.092150

Grouping and then applying the `sum()` function to the resulting groups.

In [60]:
df.groupby("A").sum()

            C         D
A
bar  1.992827 -0.311159
foo -0.473626 -1.065293

Grouping by multiple columns forms a hierarchical index, and again we can apply the `sum()` function.

In [61]:
df.groupby(["A", "B"]).sum()

                  C         D
A   B
bar one   -0.054666 -1.751518
    three  0.257649  0.538251
    two    1.789844  0.902108
foo one    0.222247 -1.137343
    three -0.511448 -1.092150
    two   -0.184425  1.164200